<h1 class="display-1">Photo Galleries</h1>
<div class="row">
  <div class="col col-md-6 col-xl-4 my-3">
    <div class="card h-100 mb-1">
      <img
        src="/assets/gallery/holley_chair.jpg"
        class="card-img-top"
        alt="Holly chair"
        height="234"
      />
      <div class="card-body">
        <h5 class="card-title">Furniture</h5>
        <p class="card-text">
          Most of these were done many years ago. Except for the coffee table at the end.  That's brand new. 
        </p>
      </div>
      <div class="card-footer">
        <a
          href="https://sy.4-10.us/photo/mo/sharing/g6yGlE780"
          class="btn btn-light"
          target="_blank"
          rel="noreferrer"
          >Go to Gallery</a
        >
      </div>
    </div>
  </div>
  <div class="col col-md-6 col-xl-4 my-3">
    <div class="card h-100 mb-1">
        <img
          src="/assets/gallery/IMG_0116.JPG"
          class="card-img-top"
          alt="Flowers in New york"
          height="234"
        />
        <div class="card-body">
          <h5 class="card-title">Photos</h5>
          <p class="card-text">
            Most of these are from college and not long after.  
          </p>
        </div>
        <div class="card-footer">
          <a
            href="https://sy.4-10.us/photo/mo/sharing/qNdiEpetJ"
            class="btn btn-light"
            target="_blank"
            rel="noreferrer"
            >Go to Gallery</a
          >
        </div>
      </div>
  </div>
  <div class="col col-md-6 col-xl-4 my-3">
    <div class="card h-100 mb-1">
        <img
          src="/assets/gallery/elephants.jpg"
          class="card-img-top"
          alt="Two elephants"
          height="234"
        />
        <div class="card-body">
          <h5 class="card-title">Paintings</h5>
          <p class="card-text">
            I stopped painting a good twenty years ago, my last gallery show was in 
            New Orleans pre Katrina.
          </p>
        </div>
        <div class="card-footer">
          <a
            href="http://sy.4-10.us/photo/mo/sharing/I9QIzb9G6"
            class="btn btn-light"
            target="_blank"
            rel="noreferrer"
            >Go to Gallery</a
          >
        </div>
      </div>
  </div>
</div>
<div class="row">
    <div class="col col-md-6 col-xl-4 my-3">
        <div class="card h-100 mb-1">
          <img
            src="/assets/gallery/IMAG0017.JPG"
            class="card-img-top"
            alt="Richmond pictures"
            height="234"
          />
          <div class="card-body">
            <h5 class="card-title">Richmond</h5>
            <p class="card-text">
              Long lost friends.
            </p>
          </div>
          <div class="card-footer">
            <a
              href="https://sy.4-10.us/photo/mo/sharing/fhEq2L7t4"
              class="btn btn-light"
              target="_blank"
              rel="noreferrer"
              >Go to Gallery</a
            >
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-xl-4 my-3">
        <div class="card h-100 mb-1">
          <img
            src="/assets/gallery/IMAG0029.JPG"
            class="card-img-top"
            alt="Drunkn Husbands"
            height="234"
          />
          <div class="card-body">
            <h5 class="card-title">Drunken Husbands</h5>
            <p class="card-text">
              This was a recent find. I thought I didn't have any evidence of that summer
              on Grace st.  Good times.
            </p>
          </div>
          <div class="card-footer">
            <a
              href="https://sy.4-10.us/photo/mo/sharing/F77ixXmIL"
              class="btn btn-light"
              target="_blank"
              rel="noreferrer"
              >Go to Gallery</a
            >
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-xl-4 my-3">
        <div class="card h-100 mb-1">
          <img
            src="/assets/gallery/IMAG0157.JPG"
            class="card-img-top"
            alt="Williamsburg friends"
            height="234"
          />
          <div class="card-body">
            <h5 class="card-title">Williamsburg Friends</h5>
            <p class="card-text">
              These are high school friends.
            </p>
          </div>
          <div class="card-footer">
            <a
              href="https://sy.4-10.us/photo/mo/sharing/OLGkcOzfY"
              class="btn btn-light"
              target="_blank"
              rel="noreferrer"
              >Go to Gallery</a
            >
          </div>
        </div>
      </div>
</div>

