<h1 class="display-1">Data collection</h1>
@if(systemError() !== '') {
  <div class="alert alert-danger" role="alert">
    {{systemError()}
  </div>
}

<p class="mt-3">This is just playing around with some charting apis in javascript.  The data means nothing.</p>
@if(view() === true) {
  <div class="card">
  <div class="card-body">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [constructorType]="chartConstructor"
      [options]="chartOptions()"
      [style]="chartStyle"
    ></highcharts-chart>
  </div>
</div>
}
