<h1 class="display-1 mt-1">Messages</h1>
<p>This is just experimenting with pulling data from a database in docker.  Its just randomly generanted
  content.
</p>
<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
        <th>Title</th>
        <th>Date</th>
        <th>Content</th>
      </thead>
      <tbody>
        <tr *ngFor="let message of messages$(); index as i">
          <td>{{message.title}}</td>
          <td>{{message.create_date}}</td>
          <td>{{message.content}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
