// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$black: #040405;

$blue: #143564;
$indigo: #6610f2; // default
$purple: #6f42c1; // default
$pink: #cc1945;
$red: #f11708;
$orange: #14a35e;
$yellow: #e2cb15;
$green: #14a35e;
$teal: #20c997; // default
$cyan: #0dcaf0; // default

$secondary: $pink;
$light: #e1e6e9;
$dark: $black;

$navbar-light-toggler-border-color: transparent;

@import '../../../node_modules/@fontsource/poppins/400.css';
@import '../../../node_modules/@fontsource/poppins/800.css';

// @import "../../../node_modules/@fontsource-variable/lexend/scss/metadata";
@import '../../../node_modules/@fontsource-variable/jetbrains-mono/index.css';
// @import '../../../node_modules/@fontsource-variable/jetbrains-mono/scss/metadata';
@import '../../../node_modules/bootstrap-icons/font/bootstrap-icons';

$font-family-sans-serif: 'Poppins', sans-serif;
$font-family-monospace: 'JetBrains Mono Variable', monospace !default;

// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../../../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/variables-dark';

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import '../../../node_modules/bootstrap/scss/maps';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/root';

// 6. Optionally include any other parts as needed
@import '../../../node_modules/bootstrap/scss/utilities';
@import '../../../node_modules/bootstrap/scss/reboot';
@import '../../../node_modules/bootstrap/scss/type';
@import '../../../node_modules/bootstrap/scss/images';
@import '../../../node_modules/bootstrap/scss/containers';
@import '../../../node_modules/bootstrap/scss/grid';
@import '../../../node_modules/bootstrap/scss/helpers';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '../../../node_modules/bootstrap/scss/utilities/api';

// 8. Add additional custom code here
@import "../../../node_modules/bootstrap/scss/tables";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/transitions";
@import "../../../node_modules/bootstrap/scss/dropdown";
@import "../../../node_modules/bootstrap/scss/button-group";
@import '../../../node_modules/bootstrap/scss/nav';
@import '../../../node_modules/bootstrap/scss/navbar';
@import '../../../node_modules/bootstrap/scss/card';
@import "../../../node_modules/bootstrap/scss/accordion";
@import "../../../node_modules/bootstrap/scss/breadcrumb";
@import "../../../node_modules/bootstrap/scss/pagination";
@import "../../../node_modules/bootstrap/scss/badge";
@import "../../../node_modules/bootstrap/scss/alert";
@import "../../../node_modules/bootstrap/scss/progress";
@import "../../../node_modules/bootstrap/scss/list-group";
@import "../../../node_modules/bootstrap/scss/close";
@import "../../../node_modules/bootstrap/scss/toasts";
@import "../../../node_modules/bootstrap/scss/modal";
@import "../../../node_modules/bootstrap/scss/tooltip";
@import "../../../node_modules/bootstrap/scss/popover";
@import "../../../node_modules/bootstrap/scss/carousel";
@import "../../../node_modules/bootstrap/scss/spinners";
@import "../../../node_modules/bootstrap/scss/offcanvas";
@import "../../../node_modules/bootstrap/scss/placeholders";

body,
html {
  height: 100%;
}

// .bg {
//   background-image: url('/assets/gallery/IMG_0008.jpg');
//   height: 100%;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

.navbar.m410 {
  background-color: $gray-100;
  opacity: 60%;
  border-radius: .5rem;
}